.s_header {
    background: var(--primary-dark);
    padding: 1% 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s_logo-container {
    display: flex;
    align-items: center;
}
.s_logo {
    cursor: pointer;
}
.h_logoRight {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s_profile-icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 41px;
    border-radius: 50%;
    height: 41px;
}
.s_ProfileImage {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.s_profile-options {
    color: var(--primary-light);
    font-family: 'Aleo';
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.s_profile-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.s_profile-option:hover {
    background-color: #f0f0f0;
}

.s_profile-options::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
}

.s_profile-options.show {
    display: block;
}
.s_login-text {
    color: var(--primary-dark);
    font-weight: bold;
    font-family: 'Aleo', sans-serif, monospace;
}
.s_login-box {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--secondary-light);
    /* margin-right: 10px; */
    /* width: 60px; */
    text-align: center;
}

.s_login-box:hover {
    border: 2px solid var(--secondary-light);
    color: var(--secondary-light);
    background: var(--primary-dark);
    transition: 0.2s;
}