.h_cross{
    position: relative;
    top: -106px;
    right: -182px;
}
.h_dropdown_topic{
    color: var(--primary-dark);
    font-size:15px;

}
.k-picker-solid {
    margin-bottom: 12px !important;
    background: none !important;
    color: var(--primary-dark)!important;
    border: 2px solid var(--primary-dark)!important;
}
.k-input-value-text {
    color: var(--primary-light) !important;
    font-size: 12px !important;
}
.h_textinput{
    padding: 5px;
    border: 2px solid var(--primary-dark);
    border-radius: 5px;
    resize: none;
    font-family: "Aleo", sans-serif;
    color: var(--primary-light);
    outline: none;
    margin-bottom: 20px;
}